.view_container{
    height: 65vh;
    overflow-y:hidden;
    overflow-x:hidden;
       
}

.view_page_container{
    position:absolute;
    top:100px;
    left:300px;
    width:1500px;
    overflow: hidden;
}

.view_title{
    font-size: 36px;
}