.fullPage_contents{
    font-size: 32px;
    position: absolute;
    top: 100px;
    height: 350px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:30px 0px;
    overflow: auto;
}

.fullPage_contents::-webkit-scrollbar{
    width: 5px;
    background-color: black;
}

.fullPage_contents::-webkit-scrollbar-thumb{
    background: grey;
}

.publish_item{
    line-height: 80px;
}