.mediumMountPopupBg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.mediumMountPopup{
  $popupHeight: calc(584 / 1080 * 100vh);
  $containerHeight: calc((472 - 44) / 1080*100vh);
  width: calc(1009 / 1080 * 100vh);
  height: $popupHeight;
  background: #3F3F3F;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), 0px 0px 50px rgba(0, 0, 0, 0.5);
  border-radius: calc(8/1080*100vh);
  border: 1px solid transparent;
  transition: all 200ms ease-out;

  &--leftBarExist{
    border-radius: 0 calc(8 / 1080 * 100vh) calc(8 / 1080 * 100vh) 0px;
  }
  &--focusFlash{
    animation: focus 100ms 8 ;
    @keyframes focus {
      0%{
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
      50%{
        box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.8);
      }
      100%{
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

    &__titleBar{
      position: relative;
      width: 100%;
      height: calc(44 / 1080 * 100vh);
      background: #4c4c4c;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 1px 2px rgba(255, 255, 255, 0.3);
      border-radius: calc(8 / 1080 * 100vh) calc(8 / 1080 * 100vh) 0px 0px;
      transition: all 200ms ease-out;
        &--leftBarExist{
          border-radius: 0 calc(8 / 1080 * 100vh) 0px 0px;
        }
        &__title{
          position: absolute;
          left: calc(24 / 1080 * 100vh);
          top: calc(9 / 1080 * 100vh);
          font-weight: 400;
          font-size: calc(24 / 1080 * 100vh);
          color: #fff;
          &--focusFlash{
            animation: titleFlash 100ms 8;
            @keyframes titleFlash {
              0%{
                opacity: 0.2;
              }
              50%{
                opacity: 1;
              }
              100%{
                opacity: 0.2;
              }
            }
          }
        }
        &__minimizeIconWrap{
          position: absolute;
          top: 0;
          right: calc(60 / 1080 * 100vh);
          width: calc(60 / 1080 * 100vh);
          height: calc(44 / 1080 * 100vh);
          background: rgba($color: #ffffff, $alpha: 0);
          transition: all 200ms ease-out;
          cursor: pointer;
          &--focusFlash{
            animation: titleFlash 100ms 8;
            @keyframes titleFlash {
              0%{
                opacity: 0.2;
              }
              50%{
                opacity: 1;
              }
              100%{
                opacity: 0.2;
              }
            }
          }
          &:hover{
            background: rgba($color: #ffffff, $alpha: 0.1)
          }
          &:hover &__minimizeIcon{
            opacity: 1;
          }
          &:active{
            opacity: 0.5;
          }
          &__minimizeIcon{
            position: absolute;
            left: 50%;top: 50%;
            transform: translate(-50%, -50%);
            width: calc(16 / 1080 * 100vh);
            height: calc(2 / 1080 * 100vh);
            opacity: 0.5;
            transition: opacity 200ms ease-out;
          }
        }
        &__closeIconWrap{
          position: absolute;
          top: 0;
          right: 0;
          width: calc(60 / 1080 * 100vh);
          height: calc(44 / 1080 * 100vh);
          border-radius: 0 calc(8/1080*100vh) 0 0;
          background: rgba($color: #ffffff, $alpha: 0);
          transition: all 200ms ease-out;
          cursor: pointer;
          &--focusFlash{
            animation: titleFlash 100ms 8;
            @keyframes titleFlash {
              0%{
                opacity: 0.2;
              }
              50%{
                opacity: 1;
              }
              100%{
                opacity: 0.2;
              }
            }
          }
          &:hover{
            background: #FF5151;
          }
          &:hover &__closeIcon{
            opacity: 1;
          }
          &:active{
            opacity: 0.5;
          }
          &__closeIcon{
            position: absolute;
            left: 50%;top: 50%;
            transform: translate(-50%, -50%);
            width: calc(14 / 1080 * 100vh);
            height: calc(14 / 1080 * 100vh);
            opacity: 0.5;
            transition: opacity 200ms ease-out;
          }
        }
        &__title--secondary{
          position: absolute;
          left: 0;
          top: 0;
          &__backButtonWrap{
            display: inline-block;
            cursor: pointer;
            position: relative;
            width: calc(44 / 1080 * 100vh);
            height: calc(44 / 1080 * 100vh);
            border-radius: calc(8 / 1080 * 100vh) 0 0 0;
            background: rgba($color: #ffffff, $alpha: 0);
            transition: all 200ms ease-out;
            &:hover{
              background: rgba($color: #ffffff, $alpha: 0.1);
            }
            &:active{
              opacity: 0.5;
            }
            &__icon{
              width: calc(10 / 1080 * 100vh);
              height: calc(18 / 1080 * 100vh);
              position: absolute;
              left: 50%;top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          &__text{
            width: max-content;
            height: calc(44 / 1080 * 100vh);
            display: inline-block;
            position: absolute;
            top: 0;left: calc(44 / 1080 *100vh);
            line-height: calc(44 / 1080 * 100vh);
            padding-left: calc(4 / 1080 * 100vh);
            font-weight: 400;
            font-size: calc(24 / 1080 * 100vh);
            color: #fff;
          }
        }
    }

    &__leftBar{
      width: 0;
      height: $popupHeight;
      background: #2C2C2C;
      border-radius: calc(8 / 1080 * 100vh) 0 0 calc(8 / 1080 * 100vh);
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      display: flex;
      flex-direction: column;
      border: 1px solid transparent;
      border-right: 0;
      transition: all 200ms ease-out;
      &--focusFlash{
        animation: focusflash 100ms 8 ;
        @keyframes focusflash {
          0%{
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-right: 0;
          }
          50%{
            border: 1px solid rgba(255, 255, 255, 0.8);
            border-right: 0;
          }
          100%{
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-right: 0;
          }
        }
      }
        &__titleBg{
          position: relative;
          width: calc(60 / 1080 * 100vh);
          height: calc(60 / 1080 * 100vh);
          padding: calc(12 / 1080 * 100vh);
          box-sizing: border-box;
            &__title{
              width: calc(36 / 1080 * 100vh);
              height: calc(36 / 1080 * 100vh);
              background-color: #565656;
              border-radius: calc(18 / 1080 * 100vh);
              text-align: center;
              line-height: calc(36 / 1080 * 100vh);
              font-weight: 500;
              font-size: calc(16 / 1080 * 100vh);
              cursor: pointer;
              opacity: 0.5;
              transition: opacity 200ms ease-out;
              color: #fff;
              &:hover{
                opacity: 1;
              }
              &--selected{
                opacity: 1;
              }
            }
        }
    }

    &__container{
      width: 100%;
    }
}

  .smallPopupContent{
    position: relative;
    font-weight: 300;
    font-size: calc(24/1080*100vh);
    color: #fff;
    .nameText{
      position: absolute;
      top: calc(46/1080*100vh);
      left: calc(162/1080*100vh);
    }
    .colorText{
      position: absolute;
      top: calc(104/1080*100vh);
      left: calc(60/1080*100vh);
    }
    &__input{
      position: absolute;
      top: calc(41/1080*100vh);
      left: calc(253/1080*100vh);
    }
    &__colorSelector{
      position: absolute;
      top: calc(104/1080*100vh);
      left: calc(253/1080*100vh);
    }
    &__cancelButton{
      position: absolute;
      top: calc(208/1080*100vh);
      left: calc(422/1080*100vh);
    }
    &__createButton{
      position: absolute;
      top: calc(208/1080*100vh);
      left: calc(580/1080*100vh);
    }
    &__prompt{
      position: absolute;
      top: calc(47/1080*100vh);
      left: calc(609/1080*100vh);
    }
  }


.modalButton{
  width: fit-content;
  height: calc(40/1080*100vh);
  padding-left: calc(28/1080*100vh);
  padding-right: calc(28/1080*100vh);
  line-height: calc(40/1080*100vh);
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: calc(24 / 1080 * 100vh);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: calc(8 / 1080 * 100vh);
  transition:all 200ms ease-out;
  color: #fff;
  cursor: pointer;

  &:hover{
    background: rgba(255, 255, 255, 0.2);
  }

  &:active{
    opacity: 0.5;
  }
  
}

.addMember{
  width: 100%;
  height: 100%;
  position: relative;
  &__searchInput{
    position: absolute;
    left: calc(40/1080*100vh);
    top: calc(40/1080*100vh);
  }
  &__memberList{
    position: absolute;
    left: calc(40/1080*100vh);
    top: calc(92/1080*100vh);
  }
  &__cancelButton{
    position: absolute;
    left: calc(40/1080*100vh);
    bottom: calc(82/1080*100vh);
  }
  &__doneButton{
    position: absolute;
    right: calc(40/1080*100vh);
    bottom: calc(82/1080*100vh);
  }
}