

.confirmation{

  &__infosWrap{
    transform: translateX(calc(-50/1080*100vh));
  }

  &__infos{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    flex-shrink: 0;
    height: calc(284/1080*100vh);
    transition: all 400ms ease-in-out;

    &__logoWrap{
      position: relative;
      transform: translateY(calc(120/1080*100vh));
      opacity: 0;

      animation: unitLogoFadeIn 500ms ease-in-out forwards;
      @keyframes unitLogoFadeIn {
        from{
          transform: translateY(calc(120/1080*100vh));
          opacity: 0;
        }
        to{
          transform: translateY(0);
          opacity: 1;
        }
      }

      &__logoBg{
        width: calc(400/1080*100vh);
        height: calc(400/1080*100vh);
        position: relative;
        top: calc(-58/1080*100vh);
      }

      &__img{
        width: calc(180/1080*100vh);
        height: calc(180/1080*100vh);
        position: absolute;
        border-radius: calc(90/1080*100vh);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // top: calc(-58/1080*100vh);
      }
    }

    &--right{
      width: fit-content;
      padding-left: calc(20/1080*100vh);
    }
    
    &__name{
      font-family: 'Questrial';
      font-style: normal;
      font-weight: 400;
      font-size: calc(60/1080*100vh);
      line-height: calc(60/1080*100vh);
      color: #FFFFFF;
      padding-bottom: calc(24/1080*100vh);
      white-space: nowrap;
      opacity: 0;
      animation: confirmationInfosNameFadeIn 400ms ease-in-out 500ms forwards;
      @keyframes confirmationInfosNameFadeIn {
        from{
          opacity: 0;
        } 
        to{
          opacity: 1;
        }
      }
    }

    &__propWrap{
      white-space: nowrap;
    }

    &__prop{
      display: inline-block;
      font-weight: 300;
      font-size: calc(28/1080*100vh);
      line-height: calc(28/1080*100vh);
      color: #FFFFFF;
      height: calc(28/1080*100vh);
      padding: 0 calc(40/1080*100vh) 0 calc(36/1080*100vh);
      position: relative;
      opacity: 0;
      animation: confirmationInfosPropsFadeIn 400ms ease-in-out 700ms forwards;
      @keyframes confirmationInfosPropsFadeIn {
        from{
          opacity: 0;
        } 
        to{
          opacity: 0.7;
        }
      }

      &__point{
        width: calc(28/1080*100vh);
        height: calc(28/1080*100vh);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__initialText{
      font-family: 'Questrial';
      font-weight: 400;
      font-size: calc(32/1080*100vh);
      line-height: calc(32/1080*100vh);
      color: #FFFFFF;
      text-shadow: 0px 0px calc(100/1080*100vh) rgba(168, 119, 200, 0.3);
      padding-top: calc(60/1080*100vh);
      opacity: 0;
      animation: confirmationInfosInitialTextFadeIn 400ms ease-in-out 700ms forwards;
      @keyframes confirmationInfosInitialTextFadeIn {
        from{
          opacity: 0;
        } 
        to{
          opacity: 0.6;
        }
      }
    }
    &__initialAmount{
      font-family: 'Questrial';
      font-weight: 400;
      font-size: calc(60/1080*100vh);
      line-height: calc(60/1080*100vh);
      color: #FFFFFF;
      text-shadow: 0px 0px calc(100/1080*100vh) rgba(168, 119, 200, 0.3);
      padding-top: calc(20/1080*100vh);
      opacity: 0;
      animation: confirmationInfosInitialAmountFadeIn 400ms ease-in-out 700ms forwards;
      @keyframes confirmationInfosInitialAmountFadeIn {
        from{
          opacity: 0;
        } 
        to{
          opacity: 1;
        }
      }
    }

  }

  &__prompt{
    font-family: 'Questrial';
    font-weight: 400;
    font-size: calc(48/1080*100vh);
    line-height: calc(48/1080*100vh);
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 100px rgba(168, 119, 200, 0.3);
    position: absolute;
    bottom: calc(390/1080*100vh);
    opacity: 0;
    transition: all 400ms ease-in-out;
  }

  &__back{
    left: calc(120/1080*100vh);
  }
  &__publish{
    right: calc(120/1080*100vh);
  }
}