.introduce:hover {
    cursor: pointer;
}

.describe {
    margin-top: 10px;
}

.describe:hover {
    cursor: pointer;
}

.PostIdea_describeline {
    width: 584px;
    white-space: pre-line;
	word-break: break-all;
	word-wrap: break-word;
}