.sections_container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section_icons_container{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.section_icons_hr{
    width:100%;
    height:0;
    border:#2e2d29 1px solid;
    margin:10px;
    position:relative;
    top:12px;
}
.section_icon{
    font-size: 18px;
    text-align: center;
    padding:5px;
    color:grey;
    background-color: #2e2d29;
    border-radius: 5px;
    height:25px;
}

.section_icon--selected{
    background-color: #654C75;
    color:white;
}
