.dopPage_userInformation_container {
  width: 100%;
  height: 300px;
}

.dopPage_userImage {
  width: 90px;
  height: 90px;
  margin-right: 25px;
}

.dopPage_icon {
  color: #69ccff;
  border: #69ccff 1px solid;
  margin: 5px 15px 5px 0px;
  padding: 5px 15px;
  font-size: 17px;
  border-radius: 5px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.dopPage_user_save {
  font-size: 30px;
  margin-right: 15px;
}

.dopPage_user_description {
  font-size: 18px;
  line-height: 28px;
  margin: 2%;
  color: lightgrey;
}

.dopPage_button {
  width: 150px;
  height: 80px;
  border: double 1em transparent;
  border-radius: 5px;
  position: absolute;
  right: 30px;
  top: 150px;
}
