.eventView_container{
    overflow: auto;
    height: 900px;
}
.eventView_section{
    margin-top: 30px;
    font-size: 22px;
line-height: 32px;
overflow-wrap: break-word;
white-space: pre-line;

}

.eventView_title{
font-size: 18px;
line-height: 32px;
color:grey;
font-style: italic;
}

.eventView_name{
    font-size: 28px;
    color:white
}

.eventView_type{
    color:#C698DC;
    margin-left:15px;
    padding:2px;
    font-size: 20px;
    border:1px solid #C698DC;
    border-radius: 5px;
}

.eventView_tag{
    color:#C698DC;
    margin-right:15px;
    padding:2px;
    font-size: 20px;
    border:1px solid #C698DC;
    border-radius: 25px;
}