.pos_setting{
  position: relative;
  font-weight: 300;
  font-size: calc(24/1080*100vh);
  color: #fff;
  height: 100%;

  .nameText{
    position: absolute;
    top: calc(46/1080*100vh);
    left: calc(162/1080*100vh);
    line-height: calc(24/1080*100vh);
  }
  &__input{
    position: absolute;
    top: calc(40/1080*100vh);
    left: calc(253/1080*100vh);
  }

  .colorText{
    position: absolute;
    top: calc(104/1080*100vh);
    line-height: calc(24/1080*100vh);
    left: calc(60/1080*100vh);
  }
  &__colorSelector{
    position: absolute;
    top: calc(104/1080*100vh);
    left: calc(253/1080*100vh);
  }

  .memberText{
    position: absolute;
    top: calc(200/1080*100vh);
    line-height: calc(24/1080*100vh);
    left: calc(137/1080*100vh);
  }
  &__memberButton{
    position: absolute;
    top: calc(192/1080*100vh);
    left: calc(253/1080*100vh);
  }

  &__cancelButton{
    position: absolute;
    top: calc(272/1080*100vh);
    left: calc(440/1080*100vh);
  }
  &__saveButton{
    position: absolute;
    top: calc(272/1080*100vh);
    left: calc(598/1080*100vh);
  }
  &__deleteButton{
    position: absolute;
    top: calc(272/1080*100vh);
    left: calc(40/1080*100vh);
  }
  .deleteButton{
    width: calc(124 / 1080 * 100vh);
    height: calc(40 / 1080 * 100vh);
    background: rgba(255, 255, 255, 0.1);
    border-radius: calc(8 / 1080 * 100vh);
    color: #FF7D7D;
    font-weight: 400;
    font-size: calc(24 / 1080 * 100vh);
    line-height: calc(40 / 1080 * 100vh);
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease-out;
    &:hover{
      background: #FF5151;
      color: #ffffff;
    }
    &:active{
      opacity: 0.5;
    }
  }


  &__backButton{
    position: absolute;
    bottom: calc(40/1080*100vh);
    left: calc(40/1080*100vh);
  }
  &__addMembersButton{
    position: absolute;
    bottom: calc(40/1080*100vh);
    right: calc(40/1080*100vh);
    &__plusIcon{
      width: calc(18/1080*100vh);
      height: calc(18/1080*100vh);
      margin-right: calc(9/1080*100vh);
    }
  }

  &__title{
    font-weight: 400;
    font-size: calc(22/1080*100vh);
    color: rgba($color: #fff, $alpha: 0.6);
    position: absolute;
    top: calc(40/1080*100vh);
    left: calc(40/1080*100vh);
  }

  &__searchInput{
    position: absolute;
    top: calc(86/1080*100vh);
    left: calc(40/1080*100vh);
  }

  &__removeList{
    position: absolute;
    top: calc(138/1080*100vh);
    left: calc(40/1080*100vh);
  }

  &__noMember{
    position: absolute;
    left: calc(79/1080*100vh);
    top: calc(150/1080*100vh);
    color: rgba($color: #fff, $alpha: 0.6);
    font-weight: 300;
    font-size: calc(24/1080*100vh);
  }

}