.tagItem_tag{
    color: #C698DC;
    border: 3px solid #C698DC;
    line-height: 24px;
    font-size: 22px;
    padding:0px 15px;
    border-radius: 24px;
    cursor: pointer;
    margin:5px 10px;

}