

.paySuccessfully{
  opacity: 0;
  animation: paySuccessfullyPageFadeIn 200ms ease-out forwards;
  @keyframes paySuccessfullyPageFadeIn {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  &__title{
    font-family: 'Questrial';
    font-weight: 400;
    font-size: calc(36/1080*100vh);
    line-height: calc(36/1080*100vh);
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px calc(100/1080*100vh) rgba(168, 119, 200, 0.3);
    margin-top: calc(370/1080*100vh);
    margin-bottom: calc(80/1080*100vh);
  }

  &__loading{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: calc(80/1080*100vh);
  }

  &__doneButton{
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.fullscreenCenterButton{
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: calc(8/1080*100vh);
  width: fit-content;
  padding: calc(10/1080*100vh) calc(80/1080*100vh);
  font-weight: 300;
  font-size: calc(28/1080*100vh);
  line-height: calc(28/1080*100vh);
  color: #FFFFFF;
  cursor: pointer;
  transition: all 200ms;

  &:hover{
    background: #fff;
    color: #000;
    border: 1px solid transparent;
  }

  &:active{
    background: rgba($color: #ffffff, $alpha: 0.3)
  }
}