.basic{
  position: relative;

  .basicOrgLogo{
    position: absolute;
    top: calc(40/1080*100vh);
    left: calc(60/1080*100vh);
  }

  .titleInput{
    position: absolute;
    top: calc(62/1080*100vh);
    left: calc(160/1080*100vh);
  }

  .contentWireInput{
    position: absolute;
    top: calc(148/1080*100vh);
    left: calc(40/1080*100vh);
  }

  .modalButton{
    width: fit-content;
    height: calc(40/1080*100vh);
    padding-left: calc(28/1080*100vh);
    padding-right: calc(28/1080*100vh);
    line-height: calc(40/1080*100vh);
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(24 / 1080 * 100vh);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    border-radius: calc(8 / 1080 * 100vh);
    transition:all 200ms ease-out;
    color: #fff;
    cursor: pointer;
  
    &:hover{
      background: rgba(255, 255, 255, 0.2);
    }
  
    &:active{
      opacity: 0.5;
    }
  
  }

  .cancelButton{
    position: absolute;
    right: calc(176/1080*100vh);
    bottom: calc(40/1080*100vh);
    transition: opacity 200ms ease-out;
    &--disappear{
      opacity: 0;
    }
  }
  .saveButton{
    position: absolute;
    right: calc(40/1080*100vh);
    bottom: calc(40/1080*100vh);
    transition: opacity 200ms ease-out;
    &--disappear{
      opacity: 0;
    }
  }

}

.basicMask{
  width: calc(786/1080*100vh);
  height: calc(540/1080*100vh);
  position: absolute;
  top: 0;left: 0;
  z-index: 99;
  &__logo{
    width: calc(80/1080*100vh);
    height: calc(80/1080*100vh);
    position: absolute;
    left: calc(60/1080*100vh);
    top: calc(40/1080*100vh);
    border-radius: calc(8/1080*100vh);
    overflow: hidden;
  }
  &__title{
    width: calc(554/1080*100vh);
    height: calc(68/1080*100vh);
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: calc(28/1080*100vh);
    color: #fff;
    position: absolute;
    left: calc(172/1080*100vh);
    top: calc(46/1080*100vh);
  }
  &__content{
    position: absolute;
    word-break: break-all;
    top: calc(160/1080*100vh);
    left: calc(60/1080*100vh);
    color: #fff;
    font-weight: 300;
    font-size: calc(24/1080*100vh);
    line-height: calc(36/1080*100vh);
    width: calc(666/1080*100vh);
  }
}
.editInfoButton{
  position: absolute;
  bottom: calc(40/1080*100vh);
  right: calc(40/1080*100vh);
}