.default_container {
    height: 100%;
}

.box_name {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

#box {
    height: 100%;
    display: grid;
    position: absolute;
    justify-content: center;
    align-content: center;
}

.box_left {
    left: 6vw;
}

.box_right {
    left: 72vw;
}