.share_idea {
    width: 100%;
    display: flex;
}

/* #share_ipt {
    padding: 5px;
    border-radius: 5px;
    width: 610px;
    height: 146px;
    border: 1px solid #bbbbbb;
    margin-top: 10px;
} */

/* #share_text {
    background: none;  
	outline: none;  
	border: none;
    color: #bbbbbb;
    resize: none;
} */

.title_ipt {
    width: 600px;
    height: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
}

.share_title {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    background:none;  
	outline:none;  
	border:none;
    color: white;
    display: flex;
}
