/*为了和CSS兼容，注释使用星型注释*/
.org-setting {
    position: fixed;
    left: 5vw;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: bisque;
    /*样式*/
    .row {
        display: flex;
        width: 100%;
        &.d-column {
            flex-direction: column;
        }
        &.x-space-between {
            justify-content: space-between;
        }
        &.x-space-around {
            justify-content: space-around;
        }
        &.x-center {
            justify-content: center;
        }
        &.x-start {
            justify-content: flex-start;
        }
        &.x-end {
            justify-content: flex-end;
        }
        &.y-start {
            align-items: flex-start;
        }
        &.y-end {
            align-items: flex-end;
        }
        &.y-center {
            align-items: center;
        }
        &.full-width {
            width: 100%;
        }
    }
    .list.vertical {
        flex-direction: column;
    }
    .list {
        display: flex;
    }
    .switch {
        border-radius: 10px;
        width: 40px;
        height: 20px;
        transition: all 0.5s;
        background-color: #323232;
        cursor: pointer;
        &.checked::before {
            transform: translateX(20px);
        }
        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #a3da58;
            transition: all 0.5s;
        }
    }
    .radio {
        cursor: pointer;
        user-select: none;
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: white 1px solid;
            display: block;
        }
        &.checked::before {
            background-color: #a3da58;
            border: #a3da58 1px solid;
        }
    }
    .image-uploader {
        width: 40px;
        height: 40px;
        background-color: aquamarine;
    }

    /*一级组件*/
    & > .close-btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    & > .inner {
        position: absolute;
        top: 10vh;
        bottom: 10vh;
        left: 15vw;
        right: 15vw;
        display: flex;
        & > .right {
            flex: 1;
            background-color: white;
        }
        & > .left {
            flex: 0 300px;
            display: flex;

            flex-direction: column;
            gap: 20px;
        }
    }
}
