#edit_labels {
    display: flex;
    column-gap: 10px;
    align-items: center;
    color: #A3DA58;
    margin-top: 10px;
    margin-left: 10px;
}

.inspire_box {
    margin-top: 40px;
}

#inspire_text {
    width: 580px;
    padding: 10px;
    background-color: #323232;
    border-left: 4px #5b5b5b solid;
    color: white;
    margin-top: 10px;
}

.PubContentStep3_describe {
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-wrap:break-word;
}

.PubContentStep3_wordsnumtip {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
