.inputs_number {
  background-color: black;
  font-size: 24px;
  width: 100px;
  color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.inputs_number:focus {
  border-bottom: 1px solid greenyellow;
}

.inputs_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputs_checkbox {
  accent-color: black;
  width: 18px;
  height: 18px;
  margin: 10px;
}
