

.inputs{
    margin-top: 12px;
    background-color: black;
    font-size: 24px;
    width:100%;
    color:white;
    outline:none;
    border:none;
    border-bottom:1px solid grey
}

.inputs--error{
    border-color: #FF7D7D;
    ;
}

.inputs:focus{
    border-bottom: 1px solid greenyellow;
}

.inputs_textArea{
    border:1px solid grey;
}