

.releaseAmount{

  &__title{
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-size: calc(48/1080*100vh);
    line-height: 48px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 100px rgba(168, 119, 200, 0.3);
    position: absolute;
    top: calc(200/1080*100vh);

    &__abbr{
      color: #C0FF6A;
      font-family: 'Questrial';
    }
  }

  &__input{
    position: absolute;
    top: calc(418/1080*100vh);
    left: 50%;
    transform: translateX(-50%) scale3d(0, 1, 1);
    animation: releaseAmountInputFadeIn 1200ms cubic-bezier(1,0.3,0,0.7) 200ms forwards;
    @keyframes releaseAmountInputFadeIn {
      from {
        transform: translateX(-50%) scale3d(0, 1, 1)
      }
      to{
        transform: translateX(-50%) scale3d(1, 1, 1)
      }
    }
  }

  &__back{
    left: calc(120/1080*100vh);
  }

  &__next{
    right: calc(120/1080*100vh);
  }
}