.accomplish_container{
    width:100%;
}

.details_leftBar{
    display: flex;
    flex-direction: column;
    width:15%;
    justify-content: space-between;
    font-size: 20px;
    color:grey;
    margin-top:30px;
    height:200px;
}

.details_leftBar_item{
    margin:15px;
    cursor: pointer;
    
}

.details_leftBar_item--selected{
    color:greenyellow;
    font-weight: 500;
}