.details_button{
    font-size: 24px;
    text-align: center;
    margin-left:25px;
    color:white;
    background:#383838;
    border:none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width:100px;
    }
    
    .details_button--disabled{
        color:grey;
        cursor:no-drop;
    }
    
    .details_button--reverse{
        color:white;
        background-color:black;
        border:white 1px solid;
        opacity: 0.8;
    }