.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.ui_index {
  display: flex;
  position: fixed;
  height: 100%;
  width:80px;
  overflow: show;
}


.canvas_index {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left:80px;
}

.floating_location{
  position: fixed;
  width:100px;
  height:100px;
  color:white;
  top:100px;
  right:100px;
  background-color: white;
  z-index: 1000
}

body{
  user-select: none;

}