.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.ui_index {
  display: flex;
  position: fixed;
  height: 100%;
  width:80px;
  overflow: show;
}


.canvas_index {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left:80px;
}

.floating_location{
  position: fixed;
  padding:10px;
  width:200px;
  height:50px;
  display: flex;
  flex-direction: column;
  gap:4px;
  font-size: 12px;
  transform: translate(-50%,-120%);
  color:white;
  transition:opacity 500ms ease-in-out;
  opacity:1;
  border-radius: 5px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(193, 193, 193, 0.1));
  z-index: 1000;

  &.hidden{
    opacity: 0;
  }
}


body{
  user-select: none;

}