.eventTabView_container{
    width:250px;
    height: 150px;
    background-color: #2e2d29;
    margin-right: 35px;
    border:none;
  
    border-radius: 15px;
    margin:8px;
    padding:10px;
    color:grey;
    position:absolute;
    font-size:18px
 }

.eventTabView_id{
    font-size:14px;
    color:#C698DC;
    line-height: 0;
}
.eventTabView_hr{
    border:solid 0.1px grey;
    margin:0;
}
.eventTabView_title{
    font-style: italic;
}
.eventTabView_prerequisite{
    color:#C698DC;
}

.eventTabView_name{
    background-color: #2e2d29;
    margin-top:5px;
    height:55px;
    width:100%;
    border:none;
    box-sizing: border-box;
    font-size: 30px;
    color:white
}