
// 全屏按钮
.fullscreenButton {
  // 右边的按钮
  &--right{
    right: calc(80 / 1080 * 100vh);
    width: calc(154 / 1080 * 100vh);
    height: calc(48 / 1080 * 100vh);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(28 / 1080 * 100vh);
    background-color: #393939;
    text-align: center;
    line-height: calc(48 / 1080 * 100vh);
    border-radius: calc(8 / 1080 * 100vh);
    transition:background 200ms, color 200ms, bottom 300ms ease-in, opacity 300ms ease-in;
    color: #fff;
    position: absolute;
    bottom: -100px;
    opacity: 0;
    &:hover{
      background-color: #4C4C4C;
      cursor: pointer;
    }
    &:active{
      background-color: #242424;
      color: #919191;
      cursor: pointer;
    }
  }
  // 左边的按钮
  &--left{
    left: calc(80 / 1080 * 100vh);
    width: calc(154 / 1080 * 100vh);
    height: calc(48 / 1080 * 100vh);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(28 / 1080 * 100vh);
    background-color: #393939;
    text-align: center;
    line-height: calc(48 / 1080 * 100vh);
    border-radius: calc(8 / 1080 * 100vh);
    transition:background 200ms, color 200ms, bottom 300ms ease-out, opacity 300ms ease-out;
    color: #fff;
    position: absolute;
    bottom: -100px;
    opacity: 0;
    &:hover{
      background-color: #4C4C4C;
      cursor: pointer;
    }
    &:active{
      background-color: #242424;
      color: #919191;
      cursor: pointer;
    }
  }

  // 按钮出场
  &--active{
    bottom: calc(80 / 1080 * 100vh);
    opacity: 1;
  }
  // 点击back之后渐入
  &--fadein{
    animation: backFadein 300ms ease-out ;
    @keyframes backFadein {
      from{
        bottom: calc(20 / 1080 * 100vh);
        opacity: 0;
      }
      to{
        bottom: calc(80 / 1080 * 100vh);
        opacity: 1;
      }
    }
  }
}
// 比较特殊的全屏按钮
.delayFullscreenButton {
  // 右边的按钮
  &--right{
    right: calc(80 / 1080 * 100vh);
    width: calc(154 / 1080 * 100vh);
    height: calc(48 / 1080 * 100vh);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(28 / 1080 * 100vh);
    background-color: #393939;
    text-align: center;
    line-height: calc(48 / 1080 * 100vh);
    border-radius: calc(8 / 1080 * 100vh);
    transition:background 200ms, color 200ms, bottom 300ms ease-out 300ms, opacity 300ms ease-out 300ms, right 300ms ease-out;
    color: #fff;
    position: absolute;
    bottom: -100px;
    opacity: 0;
    &:hover{
      background-color: #4C4C4C;
      cursor: pointer;
    }
    &:active{
      background-color: #242424;
      color: #919191;
      cursor: pointer;
    }
  }
  &--moveLeft{
    right: calc(266 / 1080 * 100vh);
  }
  // 按钮出场
  &--active{
    bottom: calc(80 / 1080 * 100vh);
    opacity: 1;
  }
  // 立即淡出
  &--fadeout{
    animation: immediatelyFadeout 300ms ease-in;
    @keyframes immediatelyFadeout {
      from{
        opacity: 1;
        bottom: calc(80 / 1080 * 100vh);
      }
      to{
        opacity: 0;
        bottom: calc(20 / 1080 * 100vh);
      }
    }
  }
}

.addImageButtonWrap{
  position: fixed;
  top: calc(364 / 1080 * 100vh);
  left: 50%;
  width: calc(200 / 1080 * 100vh);
  height: calc(200 / 1080 * 100vh);
  transform-origin: left;
  &__imgWrap{
    width: calc(200 / 1080 * 100vh);
    height: calc(200 / 1080 * 100vh);
    overflow: hidden;
    position: absolute;
    left: calc(16/1080*100vh);
    top: calc(16/1080*100vh);
    z-index: -1;
    &__img{
      width: 100%;
      height: 100%;
    }
  }
  &__imgMask{
    width: calc(232/1080*100vh);
    height: calc(232/1080*100vh);
    position: absolute;
    left: calc(-16/1080*100vh);
    top: calc(-16/1080*100vh);
    transition: all 300ms ease-out;
    &--active{
      // width: calc(232/1080*100vh);
      // height: calc(232/1080*100vh);
      background: rgba(0,0,0,0.5);
      border-radius: calc(16/1080*100vh);
    }
  }
}
.logoTips{
  font-weight: 300;
  font-size: calc(24 / 1080 * 100vh);
  line-height: calc(24 / 1080 * 100vh);
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(324 / 1080 * 100vh);
  opacity: 0;
  transition: opacity 300ms ease-out, bottom 300ms ease-out;
  &--active{
    bottom: calc(344 / 1080 * 100vh);
    opacity: 1;
  }
  p{
    margin: 0;
  }
  &__above{
    padding-bottom: calc(24 / 1080 * 100vh);
  }
}
.logoBreatheWrap{
  width: 250%;
  height: 250%;
  position: absolute;
  left: calc(-144 / 1080 * 100vh);
  top: calc(-144 / 1080 * 100vh);
  z-index: -2;
  animation: logoBreathe 2000ms ease-out infinite alternate;
  @keyframes logoBreathe {
    from{
      opacity: 0.2;
    }
    to{
      opacity: 0.8;
    }
  }
  svg{
    width: 100%;
    height: 100%;
  }
}
.createPageContent{
  word-wrap: break-word;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(640 / 1080 * 100vh);
  width: calc(880 / 1080 * 100vh);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: calc(28 / 1080 * 100vh);
  line-height: calc(42 / 1080 * 100vh);
  text-align: center;
  color: #FFFFFF;
  transition: opacity 300ms;
  &--fadeout{
    opacity: 0;
  }
}
.shortTimeLoadingWrap{
  position: absolute;
  left: 50%;
  top: calc(486 / 1080 * 100vh);
  transform: translateX(-50%);
}
.processingText{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(566 / 1080 * 100vh);
  color: #fff;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: calc(28 / 1080 * 100vh);
  line-height: calc(28 / 1080 * 100vh);
}
.useraf{
  background-color: bisque;
  color: #242424;
}
.successIcon{
  position: absolute;
  top: calc(378 / 1080 * 100vh);
  left: 50%;
  transform: translateX(-50%);
}

.mask__closeButton{
  position: absolute;
  top: 0;
  right: 0;
}