.home_tabs {
    position: absolute;
    display: flex;
    color: #ffffff;
    top: 20px;
    left: 128px;
    height: 40px;
    width: fit-content;

    &>span {
        height: 32px;
        line-height: 32px;
        text-align: center;
    }

    &_all {
        border-bottom: 3px solid #c0ff6a;
    }

    &_related {
        width: 147px;
        margin-left: 16px;
        margin-right: 16px;

        &:hover {
            background-color: #2a2d2c;
            cursor: pointer;
        }
    }

    &_subscribed {
        width: 147px;

        &:hover {
            background-color: #2a2d2c;
            cursor: pointer;
        }
    }
}