.details_logic{
 color:white;   
 font-size: 24px; 
 line-height: 40px;
 margin-bottom: 15px;
 
}

.details_radio{
    width:20px;
    height:20px;
    border:3px solid grey;
    border-radius: 25px;
    position:relative;
    top:8px;
}

.details_radio--selected{
    background-color:greenyellow;
    border:3px solid darkolivegreen;
    box-shadow: inset 0 0 10px darkolivegreen;
}